---
import { SITE } from '@src/config';
import '@splidejs/splide/css';
import Heading from './Heading.astro';
const { rootPath } = SITE;

const uuid = `carousel_${crypto.randomUUID()}`;
---

<div class="root carousel" aria-labelledby={uuid}>
  <div class="inner">
    <Heading
      level={3}
      text="Carousel"
      id={uuid}
    />

    <!-- <div class="splide" aria-label="Splideの基本的なHTML"> -->
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">
            <img
              src=`${rootPath}assets/image/dummy2.webp`
              alt=""
              width="1200"
              height="400"
            >
          </li>

          <li class="splide__slide">
            <img
              src=`${rootPath}assets/image/dummy2.webp`
              alt=""
              width="1200"
              height="400"
            >
          </li>

          <li class="splide__slide">
            <img
              src=`${rootPath}assets/image/dummy2.webp`
              alt=""
              width="1200"
              height="400"
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../../style/global' as g;

  // ---------- 基底要素 ----------
  .root {
  }

  // ---------- 基底要素のインナー要素 ----------
  .inner {
  }

  .splide__slide {
    display: flex;
    justify-content: center;
  }

  .splide__slide > img {
    width: 100%;
  }
</style>
